# Unity temp files

#*.meta

# Unity directories

#Re-boot/Library/
#Re-boot/ProjectSettings/
Re-boot/Temp/
Re-boot/UnityPackageManager/
Re-boot/obj/

# Projects files

.vs/
.idea/
#*.csproj 

# Misc

Re-boot/Assembly-CSharp.csproj
